body {
  font-family: "Poppins", sans-serif;
  background-color: #D4B99E;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Título */
h2 {
  font-size: 24px;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
  color: #222;
}

/* Lista dos pedidos */
.lista-pedidos {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
}

/* Card do pedido */
.pedido-item {
  width: 100%;
  background-color: #ffffff;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.12);
  border: 1px solid #3a2a26;
}

.pedido-item h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.pedido-item p {
  margin: 6px 0;
  font-size: 16px;
  color: #444;
}

.pedido-item strong {
  color: #111;
}

/* Botão */
.btn-entregar {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  background-color: #451a0e;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-entregar:hover {
  background-color: #1e7e34;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #c5ac94;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: auto;
  }

  #container_footer img {
    width: 37px;
    padding: 0px 28px;
  }


  #container_footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }