@media screen and (max-width: 768px) {

  body {
    background-image: none;
    height: 100vh;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    background-color: #f6eee8;
  }

  .container_header {
    height: 30vh;
    width: 100vw;
    background-image: url('../../img/plano_de_fundo.jpeg');
    background-size: cover;
    background-position: center;
    color: #451a0e;
    border-radius: 0px 0px 47px 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 19px;
    gap: 24px;



  }


  #img_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 300;
    font-size: 19px;
    margin-top: 106px;
  }

  .container_body {
    width: 89vw;
    margin: 40px 25px;

  }

  .container_body h2 {
    font-weight: 900;
    font-size: 25px;
    padding-bottom: 40px;
    text-align: center;
    color: #451a0e;
  }

  .comidas_body h3 {
    font-weight: 900;
    font-size: 20px;
    padding-bottom: 5px 10px;
    text-align: center;
    color: #451a0e;
  }

  #nav_body button {
    background-color: #ffffff;
    border: solid 1px #451a0e;
    color: #451a0e;
    font-weight: 500;
    border-radius: 15px;
    width: 107px;
    height: 25px;
  }

  #nav_body button:active {
    background-color: #451a0e;
    color: #ffffff;
    font-weight: 200;
  }

  .div_produtos {
    width: 160px;
    height: 140px;
    border-radius: 15px;
    margin: 5px 0px;
    font-size: 20px;
    text-align: center;
    color: #451a0e;
    font-weight: bolder;
    padding: 10px;
    background-color: #ffffff;

  }

  #produtos {
    display: flex;
    gap: 20px;
  }

  .div_produtos img {
    width: 120px;
    height: 120px;
    border-radius: 10px;

  }


  .div_produtos p {
    margin-top: 5px;
    font-size: 14px;
  }

  .valor_produtos {
    font-size: 15px;
    color: #451a0e;

  }

  #produtos2 {
    display: flex;
    gap: 20px;

  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }

  #container_footer img {
    width: 32px;
    height: 33px;
    padding: 0px 28px;
  }

  #container_footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container_body_produto {
    height: 42vh;
    width: 100vw;
    border-radius: 0px 0px 47px 47px;
    background-size: cover;
    filter: grayscale(0.4);
  }

  .container_body_produto img {
    width: 65px;
    margin-top: 10px;
  }

  .container_texto_produto {
    margin-top: 50px;
    padding: 0px 35px;
  }

  .texto {
    text-align: justify;
    line-height: 15px;
    margin-top: 15px;
    font-size: 13px;
  }

  .valor {
    padding: 15px 0px 15px 0px;
  }

  .title {
    color: #451a0e;
    font-size: 26px;
    font-weight: 800;
  }

  .container_sacola {
    display: inline-flex;
    width: 100vw;
    margin-top: 90px;
  }

  #sacola_img {
    padding-right: 25px;
  }

  #sacola_button {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #sacola_img img {
    width: 28px;
    padding-left: 49px;
  }

  #sacola_button button {
    background-color: #451a0e;
    border: solid 1px #451a0e;
    border-radius: 15px;
    width: 250px;
    height: 32px;
    color: #c69c73;
    font-size: 12px;
  }

  .valor {
    font-weight: 800;
    color: #451a0e;
  }

  .spanC {
    color: blue;
  }

  .spanA {
    color: red;
  }

  #teste_body {
    background-color: #f6eee8;
  }

  .body_estoque {
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: #f6eee8;

  }

  .body_estoque h1 {
    font-size: 23px;
    padding-left: 87px;
    margin-top: 22px;
    color: #451a0e;
  }

  .body_estoque img {
    width: 65px;
    margin: 22px -16px 10px 10px;
  }

  .body_estoque h1 {
    padding-left: 102px;
    margin-bottom: 11px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }

  #container_estoque {
    display: flex;
    flex-direction: column;
    margin: 75px 37px 29px 35px;
    font-family: "Poppins", sans-serif;
    background-color: #f6eee8;
  }

  .estoque {
    border: 2px solid #451a0e;
    width: 310px;
    padding: 15px;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f6eee8;
  }

  .estoque h3,
  p {
    text-align: center;
    padding: 3px;
  }

  .container_button {
    display: flex;
    justify-content: space-between;

  }

  .button {
    font-size: 19px;
    font-weight: 400;
    height: 50px;
    border: none;
    outline: none;
    color: #000000;
    background: #f6eee8;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }


  .estoque h3 {
    color: #451a0e;
    font-weight: 700;
  }

  #button_salvar button {
    background-color: #451a0e;
    border: solid 1px #451a0e;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    border-radius: 20px;
    width: 325px;
    height: 40px;
  }

  #button_salvar {
    display: block;
    align-self: center;
    margin-top: 65px;

  }
}