@media screen and (max-width: 768px) {

  body {
    background-image: none;
    height: 0vh;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    background-color: #D4B99E;
  }

  .container_header {
    height: 30vh;
    width: 100vw;
    background-image: url('../../img/plano_de_fundo.jpeg');
    background-size: cover;
    background-position: center;
    color: #451a0e;
    border-radius: 0px 0px 47px 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 19px;
  }

  #img_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 300;
    font-size: 19px;
    margin-top: 106px;
  }

  .container_body {
    width: 89vw;
    margin: 40px 25px;
  }


  .container_body h2 {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 8px;
    text-align: center;
    color: #451a0e;
  }

  .container_body h3 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #451a0e;
    padding-top: 1px;
  }

  .container_title h3 {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 13px;
    text-align: center;
    color: #451a0e;
  }

  .sub_title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 17px 0px;
  }

  .sub_title img {
    width: 30px;
    height: 30px;
  }

  a {
    text-decoration: none;
  }

  .comidas_body h3 {
    font-weight: 900;
    font-size: 20px;
    padding-bottom: 5px 10px;
    text-align: center;
    color: #451a0e;
  }

  #nav_body button {
    background-color: #ffffff;
    border: solid 1px #451a0e;
    color: #451a0e;
    font-weight: 500;
    border-radius: 15px;
    width: 107px;
    height: 25px;
  }

  #nav_body button:active {
    background-color: #451a0e;
    color: #ffffff;
    font-weight: 200;
  }

  .container_title {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  margin-top: -10px;
}

  .container_title img {
    width: 90px;
    max-width: 100px; 
    height: auto;
  }

  .texto-meio {
    text-align: center;
    flex-direction: column;
  } 

  .div_produtos {
    width: 150px;
    height: 180px;
    border-radius: 10px;
    margin: 5px 0px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
    border: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
  }

  .div_produtos:hover {
    transform: translateY(-4px);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
  }

  #produtos,
  #produtos2 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .div_produtos img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
  }

  .div_produtos img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
  }

  .div_produtos p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #451a0e;
  }

  .valor_produtos {
    width: 100%;
    text-align: center;
    margin-top: auto;
  }

  .valor_produtos p {
    font-size: 18px;
    font-weight: 800;
    color: #451a0e;
    margin: 0;
  }

  #produtos2 {
    display: flex;
    gap: 20px;
  }

  footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #c5ac94;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
  }

  #container_footer img {
    width: 37px;
    padding: 0px 28px;
  }

  #container_footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container_body_produto {
    height: 42vh;
    width: 100vw;
    border-radius: 0px 0px 47px 47px;
    background-size: cover;
    filter: grayscale(0.4);
  }

  .container_body_produto img {
    width: 65px;
    margin-top: 10px;
  }

  .container_texto_produto {
    margin-top: 50px;
    padding: 0px 35px;
  }

  .texto {
    text-align: justify;
    line-height: 15px;
    margin-top: 15px;
    font-size: 16px;
  }

  .valor {
    padding: 15px 0px 15px 0px;
  }

  .title {
    color: #451a0e;
    font-size: 26px;
    font-weight: 800;
  }

  .container_sacola {
    width: 100vw;
    margin-top: 90px;
    text-align: center;
  }

  #sacola_img {
    padding-right: 25px;
  }

  #sacola_button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #sacola_img img {
    width: 28px;
    padding-left: 49px;
  }

  #sacola_button button {
    background-color: #451a0e;
    border: solid 1px #451a0e;
    border-radius: 15px;
    width: 307px;
    height: 47px;
    color: #c4ab93;
    font-size: 15px;
    font-weight: 600;
  }


  .valor {
    font-weight: 800;
    color: #451a0e;
  }

  .spanC {
    color: blue;
  }

  .spanA {
    color: red;
  }

  #teste_body {
    background-color: #f6eee8;
  }

  .body_estoque {
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: #f6eee8;
  }

  .body_estoque h1 {
    font-size: 23px;
    padding-left: 87px;
    margin-top: 22px;
    color: #451a0e;
  }

  .body_estoque img {
    width: 65px;
    margin: 22px -16px 10px 10px;
  }

  .body_estoque h1 {
    padding-left: 102px;
    margin-bottom: 11px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }

  #container_estoque {
    display: flex;
    flex-direction: column;
    margin: 75px 37px 29px 35px;
    font-family: "Poppins", sans-serif;
    background-color: #f6eee8;
  }

  .estoque {
    border: 2px solid #451a0e;
    width: 310px;
    padding: 15px;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f6eee8;
  }

  .estoque h3,
  p {
    text-align: center;
    padding: 3px;
  }

  .container_button {
    display: flex;
    justify-content: space-between;
  }

  .button {
    font-size: 19px;
    font-weight: 400;
    height: 50px;
    border: none;
    outline: none;
    color: #000000;
    background: #f6eee8;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }

  .estoque h3 {
    color: #451a0e;
    font-weight: 700;
  }

  #button_salvar button {
    background-color: #451a0e;
    border: solid 1px #451a0e;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    border-radius: 20px;
    width: 325px;
    height: 40px;
  }

  #button_salvar {
    display: block;
    align-self: center;
    margin-top: 65px;
  }
}