@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@media screen and (max-width: 768px)  {

  * {
    font-family: "Poppins", sans-serif;
  }

  body {
    background-image: none;
    height: 100vh;
    width: 100vw;
  }
  #container_nav {
    display: none;
  }

  .container_header {
    height: 42vh;
    width: 100vw;
    background-color: #c69c73;
    color: #451a0e;
    border-radius: 0px 0px 47px 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 19px;
    gap: 75px;
    
  }

  #img_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    font-size: 19px;
    margin-top: 146px;
  }

  #div_busca {
    background-color: #c69c73;
    border:solid 1px #451a0e;
    border-radius:15px;
    width:325px;
    height:28px;
  }

  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:7px;
    font-size:16px;
    border:none;
    height:28px;
    width:191px;
  }

  #div_busca img{
    float:left;
    width: 28px;
    padding-left: 6px;
  }

  #txtBusca::placeholder {
    color: #451a0e9a;
  }

  .container_body {
    width: 89vw;
    margin: 60px 45px;
    
  }

  .container_body h2 {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 30px;
  }

  #nav_body button {
    background-color: #ffffff;
    border:solid 1px #451a0e;
    color: #451a0e;
    font-weight: 500;
    border-radius:15px;
    width: 107px;
    height: 25px;
  }

  #nav_body button:active {
    background-color: #451a0e;
    color: #ffffff;
    font-weight: 200;
  }

  .div_produtos {
    width: 110px;
    height: 146px;
    border-radius: 15px;
    background-color: #f6eee8;
    margin: 25px 0px;
    font-size: 11px;
    text-align: center;
    color: #451a0e;
    font-weight: bolder;
  }

  #produtos {
    display: flex;
    gap: 15px;
  }

  .div_produtos img {
    width: 92px;
    height: 92px;
    border-radius: 16px;
    padding: 8.5px
  }


  .div_produtos p {
    margin-top: 10px;
  }

  #container_footer img {
    width: 32px;
    height: 33px;
    padding: 0px 28px;
  }

  #container_footer {
    display: flex;
    margin: 135px 0px 0px -19px;
  }

  .container_body_produto {
    height: 42vh;
    width: 100vw;
    border-radius: 0px 0px 47px 47px;
    background-size: cover;
    filter: grayscale(0.4);
  }

  .container_body_produto img {
    width: 65px;
    margin-top: 10px;
  }

  .container_texto_produto {
    margin-top: 50px;
    padding: 0px 35px;
  }

  .texto {
    text-align: justify;
    line-height: 15px;
    margin-top: 15px;
    font-size: 13px;
  }

  .valor {
    padding: 15px 0px 15px 0px;
  }

  .title {
    color: #451a0e;
    font-size: 26px;
    font-weight: 800;
  }

  .container_sacola {
    display: inline-flex;
    width: 100vw;
    margin-top: 90px;
  }

  #sacola_img {
    padding-right: 25px;
  }

  #sacola_button {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #sacola_img img {
    width: 28px;
    padding-left: 49px;
  }

  #sacola_button button {
    background-color: #451a0e;
    border:solid 1px #451a0e;
    border-radius:15px;
    width: 250px;
    height:32px;
    color: #c69c73;
    font-size: 12px;
  }

  .valor {
    font-weight: 800;
    color: #451a0e;
  }
  
  .spanC {
    color: blue;
  }
  
  .spanA {
    color: red;
  }

  .body_estoque {
    display: flex;
    align-items: center;
    width: 100vw;

  }

  .body_estoque h1 {
    font-size: 23px;
    padding-left: 87px;
    margin-top: 22px;
    color: #451a0e;
  }

  .body_estoque img {
    width: 65px;
    margin: 22px -16px 10px 10px ;
  }
  
  .body_estoque h1 {
    padding-left: 96px;
    margin-bottom: 11px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }

  #container_estoque {
    display: flex;
    flex-direction: column;
    margin: 75px 37px 29px 35px;
    font-family: "Poppins", sans-serif;
  }

  .estoque {
    border: 2px solid #451a0e;
    width: 310px;
    padding: 15px;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .estoque h3, p {
    text-align: center;
    padding: 3px;
  }

  .container_button {
    display: flex;
    justify-content: space-between;

  }

}